
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@font-face {
    font-family: 'Ailerons';
    font-style: normal;
    font-weight: 400;
    src:  local('Ailerons'),
          url("../Users/michaeldurfey/Library/Fonts/Ailerons-Typeface.otf") format("embedded-opentype");
}

@media (max-width: 550px)
{

.mainTitle {
  padding-top: 17%!important;
}
}

@media (max-width: 767px) {
  .h1 {
    padding-top: 5%;
  }
  
  .center-block {
    margin-left:auto;
   margin-right:auto;
   display:block;
  }
  
  .btn-info{
  float:right!important;
  }
  
  .comments {
  font-size: 20px!important;
  }
  
  #socialButton {
    transition: 0.8s ease;
  display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .h2 {
  font-family: times;
  color: rgba(0,0,0, 1);
  text-shadow: 2px 2px 4px rgba(147,147,147, 1);
  font-size: 25px!important;
  font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
  }


  .headshot {
    transition: 0.8s ease;
  max-width: 23%!important;
  }
  
  .WebDev {
    transition: 0.8s ease;
  font-size: 3vmax!important;
  margin-top: 40px;
  font-weight: 100;
  height: 200px;
  font-family: 'Oswald'!important;
  color: #1F1C31!important;
  font-weight: 900;
  font-variant: small-caps;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 3px #E0A871;
  }
  
  .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }
  
  .navbar-collapse > li:nth-child(3) {
margin-right: -2px;
}
    .navbar-static-top {
        top: 0;
        border-width: 0 0 1px;
    }
    /*.navbar-collapse.collapse {
        display: none!important;
    }*/
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
    .collapse.in{
        display:block !important;
    }
} /*------------------max width 800px-------------------*/


.navbar-static-top {
margin-bottom: -70px;
position:absolute;
width: 100%;
}

div.about-container {
background-image: url("http://i68.tinypic.com/33athj7.jpg");
padding-top: 10%;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
}


 #socialButton{
    width: 15vmax;
    font-size: 1.6vmax;
  }

.mainTitle {
  padding-top: 8%;
  padding-bottom: 2%;
  transition: 0.8s ease;
  font-family: 'Ailerons'!important;
  color: #18110F!important;
  font-weight: 100;
  font-variant: small-caps;
  -webkit-background-clip: text;
  font-size: 12vw;
/*text-shadow: 2px 2px 3px  #fff;*/
}


.border {
border-style: ridge;
opacity: 0.6;
  border-width: 1px;
 border-color: black;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
}


.name {
transition: 0.8s ease;
  color: rgba(0, 0, 0, 1 );
  text-decoration: none;
  margin: 5px 20px;
  padding: 15px;
  font-family: times;
font-size: 20px;
font-weight: bold;
font-family: 'Raleway';
}

.name:hover {
  transition: 0.8s ease;
color: black;
transform: scale(1.6);
  text-shadow: 4px 4px 7px rgba(255, 255, 255, 1 );
}

.color-me {
color: black;
  border-color: grey;
font-family: 'Raleway' bold;
  text-transform: uppercase;
}

div.nav-collapse {
}

.navbar-collapse > li a {
font-size: 1.4em;
font-family: rarelway;
margin-left: 4px;
margin-top: 5px;
text-color: black !important;
opacity: 1;
background-color: rgba(147, 147, 147, 1);
}

.navbar-collapse > li:nth-child(3) {
margin-right: 5px;
}

nav {
background-color: rgba(211, 211, 211, .8);
}

.headshot {
border-radius: 10%;
border-width: 1px;
border-style: solid;
border-color: black;
}

.buttons{
  padding: 5px;

}

 .WebDev {
  font-size: 3.5vmax!important;
  margin-top: 40px;
  font-weight: 100;
  height: 200px;
  font-family: 'Arimo'!important;
  color: #1F1C31!important;
  font-weight: 900;
  font-variant: small-caps;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 3px #E0A871;
  }

/*Portfolio CSS Start~~~~~~~~*/

.back2 {
background: url("http://i66.tinypic.com/2h7pcup.jpg");
background-repeat: no-repeat;
 background-size: cover;
 background-position:center;
  width: 100%;
}

.wellDiv {
  background-color: rgba(211, 211, 211, .9);
  border-style: none;
}

.figure {
  overflow: hidden;
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 20px!important;
  padding-bottom: 20px!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  top:0;
  left:0;
}

.portRow {
  
  padding: 2% 15% 10% 15%;

}

.figure .face {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.figure h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  position: relative;
  font-family: 'Arimo';
  font-size: 3vmax;
  padding: 20%;
  width: 100%;
  size: ;
}


.figure img {
  display: block;
  text-align: center;
}

.figure img {
  transition: 1s;
}

.figure .face {
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: 1000ms;
}

.figure h2 {
  background: transparent;
  transform: rotate( 360deg) skew(300deg, 100deg);
  transition: 600ms;
   width: 100%;
  position: absolute;
}

.figure:hover .face {
  opacity: 0.7;
  transition-delay: 0s;
  cursor: pointer;
}

.figure:hover img {
  transition-delay: 0s;
}

.figure:hover h2 {
  opacity: 1;
  transform: scale(1.5);
  transition-delay: 0.1s;
}

.portfolioPic:hover {
  cursor: pointer;
}

.face {
  color: rgba(244,244,244, 1);
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: bold;
}

#h5 {
  font-family: 'Ailerons', 'Raleway'; 
  letter-spacing: 5px;
  font-size: 7vmax;
  color: black;
  font-weight: 100;
  opacity: 1; 
  text-shadow: 2px 2px 4px rgba(147, 147, 147, 1);
  margin-top: 2%;
   font-variant: small-caps;
}

.hr2 {
  border-style: ridge;
  border-color: black;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0px;
  padding: 0;
  margin-bottom:0;
}

/* Contact Section CSS */

.contact-container {
  background: url("http://i65.tinypic.com/sdpu1g.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: auto auto auto;
  background-repeat: none;
  margin-top: -10px;
}

.form-group>.col-form-label {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 20px;
  color:white;
}

.form-group {
  font-size: 20px;
  padding-left: 5%;
  
}

.message {
  display: block;
  width: 100%;
}

form {
margin-top:30px;
}

#h2 {
  font-family: times;
  color: rgba(0,0,0, 1);
  text-shadow: 4px 4px 4px rgba(147,147,147, 1);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.topAlbumText {
  size: 20%;
}

@media(min-width:1200px;) {
  .keepInTouchText {
  margin-top: 15%!important;
}
}

.keepInTouchText {
  background-color: rgba(255,255,255, 1);
  border-style:none;
  text-align: justify;
  margin-top: 30px;
  
}

.comments {
  font-family: times;
  font-size: 25px;
  color:black;
  text-align: justified;
}

/*Listening Habbits*/

#lastImg:hover {
  cursor: pointer;
  
}

.listening-habbits {
  font-family: Roboto;
  font-size: 15px;
  font-color: white;
}

#albumImages{
  width: 100%;
}

.images {

  margin-top: 4%;
}
@media (min-width: 200px) {
  .images {
  text-align: center;
  }
}

@media (max-width: 500px) {
  .image {
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
  width: 100%;
  float:left!important;
  } 
}

@media (min-width: 450px) and (max-width: 700px){
  .images {
/*  margin-left: 17%;*/
  margin-top: 0%;
  }
}

.images {
  text-align: center;
}

@media (min-width: 700px) {
.images {
  padding-left: 6%;
  margin-top: 0%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px){
  .images {
  padding-left: 6%;
  margin-top: 0%;
}
}

@media (min-width: 1320px) {
  .images{ 
    margin-top: 10px;
    padding-left: 0%;
  }
}

@media (min-width: 1680px) {
  .images{ 
    margin-top: 0px;
    padding-left: 0%;
  }
}


.image h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  position: relative;
  font-family: 'Raleway';
  width: 100%; 
}


.image .imageFace {
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: 1000ms;
  }

.image .imageFace {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  padding-top: 15%;
  padding-right: 0px!important;
  padding-left: 0px!important;
  top: 0;
  left: 0;
}

.image {
  text-align: center;
  /*padding: 2% 1% 2% 1%;*/
  overflow: hidden;
}


.image {
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
  width: 19%;
  float:left;
}

.image:hover h2 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.1s;
}

.image:hover .imageFace { 
  opacity: 1;
  transition-delay: 0s;
  cursor: pointer;
 }

 .artistName {
  padding: 0px;
 }

 .albumName {
  padding: 0px;
 }

 @media(max-width: 768px) {
.image {
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
  width: 150px;
}

 }


/*ListeningHabbits END*/


/* Footer */
@media(max-width: 800px) {
.footer {
  position: relative;
  width: 100%;
  display: block;
  left: 10.5%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-links {
  width: 100%;
}

#footer-icons {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.footer > p {
  margin: 0px;
}


  .footer-links >li {
  width:23%;
  text-align: center;
  }

.footer-links > li >a {
  margin-bottom:0px;
  text-align: center;
  font-size: 1em;
  border-color: #337AB7;
  border-width: 1px;
  border-style: ridge;
}


.nav-pillsContainer {
  margin-top: 0px;
}

.footer .navbar-brand {
  padding-top: 15px;
  text-align: center;
  font-family: oswald;
  font-color:black;
  font-size: 1em;
  font-weight: bold;
  float: center;
}


.nav-pills {
  float:center!important;
  margin-left: 3%;
}
}
@media(max-width: 660px) {
.footer {
  position: relative;
  width: 100%;
  display: block;
  left: 10.5%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-links {
  width: 100%;
}

#footer-icons {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.footer > p {
  margin: 0px;
}
.nav-pills >li>a{
  }

  .nav-pills>li {
    /*margin-left: 0px!important;*/
  }

  .footer-links >li {
    width:23%;
    text-align: center;
  }

.footer-links > li >a {
  margin-bottom:0px;
  text-align: center;
  font-size: 1em;
  /*padding-left: 0px!important;*/
}


.nav-pillsContainer {
  margin-top: 0px;
}

.footer .navbar-brand {
  padding-top: 15px;
  text-align: center;
  font-family: oswald;
  font-color:black;
  font-size: 1em;
  font-weight: bold;
  float: center;
}


.nav-pills {
  float:center!important;
  margin-left: 3%;
}


} /*660px*/


/*800px*/
@media(min-width: 800px) {

.footer {
  position: relative;
  width: 100%;
  display: block;
  left: 10.5%;
  margin-bottom: 10px;
  margin-top: 10px;
}


.footer-links {
  width: 100%;
}

#footer-icons {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.footer > p {
  margin: 0px;
}
.nav-pills >li>a{
  }

  .nav-pills>li {
    /*margin-left: 0px!important;*/
  }

  .footer-links >li {
    width:23%;
    text-align: center;
  }

.footer-links > li >a {
  margin-bottom:0px;
  text-align: center;
  font-size: 1em;
  /*padding-left: 0px!important;*/
}


.nav-pillsContainer {
  margin-top: 0px;
}

.footer .navbar-brand {
  padding-top: 15px;
  text-align: center;
  font-family: oswald;
  font-color:black;
  font-size: 1em;
  font-weight: bold;
  float: center;
}


.nav-pills {
  float:center!important;
  margin-left: 3%;
}
}